<!DOCTYPE html>
<html lang="th" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>新增用户</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function login() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/user/add" ,
                data: $('#form1').serialize(),
                success: function (result) {
                    console.log(result);
                    if (result.status == 0) {
                        alert("SUCCESS");
                    };
                },
                error : function() {
                    alert("异常！");
                }});
        }
    </script>
</head>
<body>
<div class="row">
  <div class="col-md-4">
    <form class="form-horizontal" role="form" th:action="@{/user/add}" method="post">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">昵称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name"
                       placeholder="请输入名字">
            </div>
        </div>
        <div class="form-group">
            <label for="mobile" class="col-sm-2 control-label">联系方式</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="mobile"
                       placeholder="请输入手机号码">
            </div>
        </div>
        <div class="form-group">
            <label for="idCard" class="col-sm-2 control-label">证件号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idCard"
                       placeholder="请输入证件号">
            </div>
        </div>
        <div class="form-group">
            <label for="roles" class="col-sm-2 control-label">角色</label>
            <div class="col-sm-10">
                <select id="roles" class="form-control selectpicker" title="请选择角色" data-live-search="true">
                    <option value="1" data-content="<span class='label label-success'>超级管理员</span>">超级管理员</option>
                    <option value="2" data-content="<span class='label label-info'>管理员</span>">管理员</option>
                    <option value="3" data-content="<span class='label label-warning'>用户</span>">用户</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
  </div>
</div>
</body>
</html>